{% if structure.pockets %}
<section class="">
    <div class="grid-container">
        <div class="column-full-width">
          <div class="inner">
              <hr />
              <h2 class="heading-medium vertical-spacing-top-0-5"><a name="binding_cleft_pockets" class="anchor"></a>Binding cleft pockets</h2>  
              <br />
          </div>
        </div>
        <div class="column-one-half">
          <div class="inner">
                  <strong>Peptide sidechain binding pockets</strong> (static)
                  <br />
                  <img src="https://images.histo.fyi/cleft/pockets/labelled/{{structure.pdb_code}}_1_labelled_medium.png" />
                </div>
          </div>
            <div class="column-one-half">
              <div class="inner">
                <strong>Peptide terminii and backbone binding residues</strong> (static)
                <br />
                <img src="https://images.histo.fyi/cleft/terminii/labelled/{{structure.pdb_code}}_1_labelled_medium.png" />
              </div>
          </div>
          <div class="column-full-width">
            <div class="inner">
                <table width="100%">
                  <tr>
                    {% for pocket in structure.pockets %}
                    {% set thispocket = structure.pockets[pocket] %}
                    <td>
                      <strong class="peptide_position"><span class="pocket-heading {{pocket|lower}}-pocket">{{pocket|upper}} Pocket</span></strong>
                      <br />
                      <br />
                      {% for position in thispocket %}
                      {% set thisposition = thispocket[position] %}
                      {% set thisposition_number = thispocket[position]['number']|string %}
                      <div class="residue_container">  
                        {% if thisposition_number in features.class_i.alpha %}
                          {% if features.class_i.alpha[thisposition_number].binds_n_terminus %}
                            {% set label = "binds_n_terminus" %}
                          {% elif features.class_i.alpha[thisposition_number].binds_p1_backbone %}
                            {% set label = "binds_p1_backbone" %}
                          {% elif features.class_i.alpha[thisposition_number].binds_p2_backbone %}
                            {% set label = "binds_p2_backbone" %}
                          {% elif features.class_i.alpha[thisposition_number].binds_pc_1_backbone %}
                            {% set label = "binds_pc_1_backbone" %}
                          {% elif features.class_i.alpha[thisposition_number].binds_c_terminus %}
                            {% set label = "binds_c_terminus" %}
                          {% else %}
                            {% set label = "" %}
                          {% endif %}
                        {% endif %}
                        <span class="residue {{label}}">{{thisposition.three_letter|upper}}{{thisposition.number}}</span>
                      </div>
                      {% endfor %}
                    </td>
                    {% endfor %}
                  </tr>
                </table>
                <br />
                <h3 class="heading-smaller">Colour key</h3>
                <div class="vertical-spacing-bottom">
                    <span class="binds_n_terminus key"><small>Binds N-terminus</small></span>
                    <span class="binds_p1_backbone key"><small>Binds P1 backbone</small></span>
                    <span class="binds_p2_backbone key"><small>Binds P2 backbone</small></span>
                    <span class="binds_pc_1_backbone key"><small>Binds PC-1 backbone</small></span>
                    <span class="binds_c_terminus key"><small>Binds C-terminus</small></span>
                </div>
                <h3 class="heading-smaller">Data provenance</h3>
                <div><small><strong>N-</strong>/<strong>C-terminus</strong> and <strong>peptide backbone</strong> binding residues</strong> are assigned according to previously published information and <strong>pockets</strong> are assigned according to an adaptation of a previously published set of residues. All numbering is currently that of the 'canonical' structures of human and mouse MHC Class I molecules.</small></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}