<section>
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <h2 class="heading-medium vertical-spacing-top-0-5"><a name="binding_cleft_properties">
                </a>Binding cleft properties</h2> 
            </div>
        </div>
        <div class="column-two-thirds">
            <div class="inner">            
                <img src="{{static_route}}/images/structures/cleft/yrb/{{pdb_code}}_1.png" />
            </div>
        </div>
        <div class="column-one-third">
            <div class="inner">
                Label
            </div>
        </div>
    </div>
</section>
