<section>
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <hr />
                <h2 class="heading-medium vertical-spacing-top-0-5"><a name="downloadable_data" class="anchor"></a>Data license</h2>  
                <div class="vertical-spacing-bottom-0-25">
                    The <strong>data</strong> above is made available under a <strong>Creative Commons <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</strong> license</a>. This means you can copy, remix, transform, build upon and redistribute the material, but you must give appropriate credit, provide a link to the license, and indicate if changes were made.
                </div>
                <div class="vertical-spacing-bottom-0-25">
                    If you use any data downloaded from this site in a publication, please cite '<strong>https://www.histo.fyi/</strong>'. A preprint is in preparation.
                </div>
            </div>
        </div>
    </div>
</section>