<section>
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <hr />
                <h2 class="heading-medium vertical-spacing-top-0-5"><a name="footnotes" class="anchor"></a>Footnotes</h2>
                <ul>
                    <li><a name="pdbe-coordinate-server" class="no-decoration anchor"></a>Protein Data Bank Europe - <a href=https://www.ebi.ac.uk/pdbe/coordinates/doc.html" target="_blank">Coordinate Server</a></li>
                    <li><a name="1hhk" href="/structures/view/1hhk">1HHK - HLA-A*02:01 binding LLFGYPVYV at 2.5Å resolution</a> - <a href="https://www.wwpdb.org/pdb?id=pdb_00001hhk" target="_blank">PDB entry for 1HHK</a></li>
                    <li><a name="cealign" class="no-decoration anchor"></a>Protein structure alignment by incremental combinatorial extension (CE) of the optimal path. - <a href="https://pymolwiki.org/index.php/Cealign" target="_blank">PyMol CEALIGN Method</a> - <a href="https://academic.oup.com/peds/article/11/9/739/1580846">Publication</a></li>
                    <li><a name="pymol" class="no-decoration anchor"></a>PyMol - <a href="https://www.pymol.org/pymol.html" target="_blank">PyMol.org/pymol</a></li>
                    <li><a name="levenshtein-distance" class="no-decoration anchor"></a>Levenshtein distance - <a href="https://en.wikipedia.org/wiki/Levenshtein_distance" target="_blank">Wikipedia entry</a></li>
                    <li><a name="pdbe-rest-api" class="no-decoration anchor"></a>Protein Data Bank Europe REST API - <a href="https://www.ebi.ac.uk/pdbe/api/doc/" target="_blank">Molecules endpoint</a></li>
                    <li><a name="3dmoljs class="no-decoration anchor"></a>3Dmol.js: molecular visualization with WebGL - <a href="https://3dmol.csb.pitt.edu/" target="_blank">3DMol.js</a> - <a href="https://academic.oup.com/bioinformatics/article/31/8/1322/213186">Publication</a></li>
                    <li><a name="pdbe-publications" class="no-decoration anchor"></a>Protein Data Bank Europe REST API - <a href="https://www.ebi.ac.uk/pdbe/api/doc/" target="_blank"></a>Publication endpoint</li>
                    <li><a name="pmce-articles" class="no-decoration anchor"></a>PubMed Central Europe REST API - <a href="https://europepmc.org/RestfulWebService" target="_blank">Articles endpoint</a></li>
                </ul>
                <hr class="vertical-spacing-bottom"/>                
            </div>
        </div>
    </div>
</section>