<h3 class="heading-small">Information sections</h3>
<ul>
    <li><a href="#publication">Publication</a></li>
    <li><a href="#peptide_details">Peptide details</a></li>
    <li><a href="#peptide_neighbours">Peptide neighbours</a></li>
    <li><a href="#binding_cleft">Binding cleft properties</a></li>
    <li><a href="#binding_cleft_pockets">Binding cleft pockets</a></li>
    <li><a href="#chain_sequences">Chain sequences</a></li>
    <li><a href="#downloadable_data">Downloadable data</a></li>
    <li><a href="#data_license">Data license</a></li>
    <li><a href="#footnotes">Footnotes</a></li>
</ul>
