
{% set publication = structure.publication %}
<div class="column-two-thirds">
    <h3 class="heading-small">
        {{publication.citation.title | safe}}
    </h3>
    <div>
        {% for author in publication.citation.authors %}
            {{author.full_name | safe }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>
    <div>
        {% if publication.citation.iso_abbreviation %}<i>{{publication.citation.iso_abbreviation}}</i>{% endif %} {% if publication.citation.year %}({{publication.citation.year}}),{% endif %}  {% if publication.citation.iso_abbreviation %}<strong>{{publication.citation.volume}}</strong>,{% endif %} 
        {% if publication.citation.pages != '-' %}{{publication.citation.pages}}{% endif %} {% if structure.doi %}[<a href="{{structure.resolved_doi_url}}" target="_blank">doi://{{structure.doi }}</a>]{% endif %} {# [View on PubMed] #}
    </div>
    <br />
    <p>
        {{ publication.abstract | safe}}
    </p>
    <h3 class="heading-smaller vertical-spacing-top-0-5">Data provenance</h3> 
    <p><small><strong>Publication data</strong> retrieved {# on [{{structure.last_updated}}] #} from PDBe REST API<a class="superscript" href="#8">8</a> and PMCe REST API<a class="superscript" href="#9">9</a></small></p>
</div>