{% extends "base.html" %}


{% block title %}{{structure|short_structure_title|safe}}{% endblock %}
{% set nav = 'structures' %}

{% block main %}
<style>
    td {
        vertical-align: top;
    }

    span.residue {
        padding: 4px;
        border: 1px solid #cccccc;
    }

    div.residue_container {
        padding: 7px;
    }

    strong.peptide_position {
        padding: 10px
    }

    span.peptide_position_display {
        border-top: 6px solid #888888;  
        padding-top: 9px;   
        padding-right: 5px
    }

    span.anchor {
        border-top: 10px solid #888888;
        padding-top: 5px !important;
    }

    .border-trp, .border-tyr, .border-phe, .border-his {
        border-top-color: rgba(229, 222, 80, 0.9) !important;        
    }

    .border-ile, .border-leu, .border-val, .border-ala, .border-met, .border-cys {
        border-top-color: rgba(229, 222, 80, 0.7) !important;        
    }

    .border-asp, .border-glu {
        border-top-color: rgba(194, 78, 91, 0.7) !important;  
    }

    .border-lys, .border-arg {
        border-top-color: rgba(66, 110, 172, 0.7) !important;  
    }


    .border-asn, .border-gln, .border-thr, .border-ser, .border-gly, .border-pro {
        border-top-color: rgba(200, 200, 200, 0.8) !important;  
    }

    span.key {
        padding:4px;
        border: 1px solid #cccccc;
    }


    span.ile, span.leu, span.val, span.ala, span.met, span.cys, span.hydrophobic {
        background-color: rgba(229, 222, 80, 0.3);
    }
    span.trp, span.tyr, span.phe, span.his, span.aromatic {
        background-color: rgba(229, 222, 80, 0.5);
    }
    span.glu, span.asp, span.acidic {
        background-color: rgba(194, 78, 91, 0.4);
    }
    span.lys, span.arg, span.basic {
        background-color: rgba(66, 110, 172, 0.4);
    }
    span.asn, span.gln, span.thr, span.ser, span.gly, span.his, span.pro, span.neutral {
        background-color: rgba(200, 200, 200, 0.4);
    }

</style>
<style>
    
    a.no-decoration {
        text-decoration: none;
    }
    div.chain_block {
        border-left: 7px solid #888888;
        padding-left: 10px;
    }

    div.peptide {
        border-left-color: #F5E54B;
    }

    div.class_i_alpha {
        border-left-color: #61927E;
    }

    div.beta2m {
        border-left-color: #E1935B;
    }

    div.tcr_alpha {
        border-left-color: #96C45E;
    }
    div.tcr_gamma {
        border-left-color: #96C45E;
    }
    div.tcr_beta {
        border-left-color: #DA4EA9;
    }
    div.tcr_delta {
        border-left-color: #DA4EA9;
    }
    a.superscript {
            position: relative; 
            top: -0.5em; 
            font-size: 80%; 
    }

    .heading-smaller {
        font-feature-settings: "salt" on;
        font-size: 18px;
        line-height: 26px;
        font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
        max-width: 800px; }
        @media screen and (min-width: 600px) {
            .heading-smaller {
            font-size: 19px;
            line-height: 22px; } }
    
</style>

<section class="">
    <div class="grid-container">
        {% include "structure/structure_display.html" %}

        <div class="column-one-third">
            <div class="inner">
                <h3 class="vertical-spacing-top-0-5 heading-small">Chains in complex</h3>
                {% if structure.complex.label %}
                    <p>{{structure.complex.label}}</p>
                {% else %}
                    <p>Problems in automatic complex type assignment. Known issue being fixed.</p>
                {% endif %}
                {% for chain in structure.facets.chains %}
                {% set thischain = structure.facets.chains[chain] %}
                    <div class="vertical-spacing-bottom-0-25">
                        <div class="chain_block {{thischain.best_match.match}}">
                            <div>
                                <strong>{{chain}}.</strong> {{chain_types[thischain.best_match.match]['ui_text']}}
                                {% if thischain.best_match.match == 'class_i_alpha' %}
                                <br />
                                {% if structure.allele %}
                                <a href="/structures/sets/browse/allele/{{structure.allele.mhc_alpha|slugify_this}}">{{structure.allele.mhc_alpha}}</a>
                                {% elif thischain.best_match.match == 'peptide' %}
                                <br />
                                {{structure.peptide.sequence}}
                                {% endif  %}
                                {% else %}
                                
                                {% endif%}
                            </div>
                            <div>
                                {{thischain.chains}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <h3 class="vertical-spacing-top-0-5 heading-small">Organism</h3>
                <div>{{structure.organism.scientific_name}} ({{structure.organism.common_name}})</div>
                <h3 class="vertical-spacing-top-0-5 heading-small">Locus / Allele group</h3>
                <div class="vertical-spacing-bottom-0-5">
                    {% if structure.locus %}
                        {{structure.locus}}
                    {% else %}
                        Locus and allele not yet assigned
                    {% endif %}
                    {% if structure.allele_group %}
                    / <a href="/structures/sets/browse/allele_group/{{structure.allele_group.mhc_alpha|slugify_this}}">{{structure.allele_group.mhc_alpha}}</a>
                    {% endif %}
                </div>

            </div>
        </div>
</div>
</section>

<section class="">
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <hr />
                <h2 class="heading-medium vertical-spacing-top-0-5">Publication</h2>    
            </div>
        </div>
        {% include "structure/publication_block.html" %}
        <div class="column-one-third">
            <p>Other structures from this publication</p>
            {% for associated_structure in associated_structures %}
            {% if associated_structure != pdb_code %}
            <p>
                <strong><a href="/structures/view/{{associated_structure}}">{{associated_structure | upper}}</a></strong>
                <br />
                {{ associated_structures[associated_structure]|short_structure_title|safe}}
            </p>
            {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% include "structure/peptide.html" %}

{% include "structure/peptide_neighbours.html" %}

{% include "structure/binding_cleft.html" %}

<section class="">
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <hr />
                <h2 class="heading-medium vertical-spacing-top-0-5">Crystallography</h2>    
                {{structure.crystallography}}
            </div>
        </div>
        <div class="column-one-third">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="vertical-spacing-top">
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner small">
                <h4 class="heading-small vertical-spacing-bottom-0-25">Footnotes</h4>
                <ol>
                    <li><a name="1" class="no-decoration">Protein Data Bank Europe </a> - <a href="https://www.ebi.ac.uk/pdbe/coordinates/index.html" target="_new">Coordinate Server</a></li>
                    <li><a name="2" href="/structures/view/1hhk">1HHK - HLA-A*02:01 binding LLFGYPVYV at 2.5Å resolution</a> - <a href="https://www.wwpdb.org/pdb?id=pdb_00001hhk" target="_new">PDB entry for 1HHK</a></li>
                    <li><a name="3" class="no-decoration">Protein structure alignment by incremental combinatorial extension (CE) of the optimal path.</a> - <a href="https://pymolwiki.org/index.php/Cealign" target="_new">PyMol CEALIGN Method</a> - <a href="https://academic.oup.com/peds/article/11/9/739/1580846">Publication</a></li>
                    <li><a name="4" class="no-decoration">PyMol</a> - <a href="https://www.pymol.org/pymol.html" target="_new">PyMol.org/pymol</a></li>
                    <li><a name="5" class="no-decoration">Levenshtein distance</a> - <a href="https://en.wikipedia.org/wiki/Levenshtein_distance" target="_new">Wikipedia entry</a></li>
                    <li><a name="6" class="no-decoration">Protein Data Bank Europe REST API</a> - <a href="https://www.ebi.ac.uk/pdbe/api/doc/" target="_new">Molecules endpoint</a></li>
                    <li><a name="7" class="no-decoration">3Dmol.js: molecular visualization with WebGL</a> - <a href="https://3dmol.csb.pitt.edu/" target="_new">3DMol.js</a> - <a href="https://academic.oup.com/bioinformatics/article/31/8/1322/213186">Publication</a></li>
                    <li><a name="8" class="no-decoration">Protein Data Bank Europe REST API</a> - <a href="https://www.ebi.ac.uk/pdbe/api/doc/" target="_new">Publication endpoint</a></li>
                    <li><a name="9" class="no-decoration">PubMed Central Europe REST API</a> - <a href="https://europepmc.org/RestfulWebService" target="_new">Articles endpoint</a></li>
                </ol>
                
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/3Dmol/1.4.0/3Dmol-min.js"></script>

{% endblock %}