{% extends "base.html" %}

{% set nav = 'structures' %}

{% block main %}
<style>
    small {
        font-size: 11pt;
    }
    div.chain_block {
        border-left: 7px solid;
        padding-left: 10px;
    }

    div.peptide {
        border-left-color: #F5E54B;
    }

    div.class_i_alpha {
        border-left-color: #61927E;
    }

    div.beta2m {
        border-left-color: #E1935B;
    }

    div.tcr_alpha {
        border-left-color: #96C45E;
    }

    div.tcr_beta {
        border-left-color: #DA4EA9;
    }
</style>
<section class="">
    <div class="grid-container">
        <div class="column-full-width">
            <small><strong>{{structure.pdb_code|upper}}</strong></small>
            <h1 class="heading-large vertical-spacing-bottom">{{structure|structure_title|safe}}</h1>
        </div>
        <div class="column-two-thirds">
            <div class="inner">
                {% include "structure/full_structure_display.html" %}
            </div>
        </div>
        <div class="column-one-third">
            <div class="inner">
                <h3 class="vertical-spacing-top-0-5 heading-small">Chains in complex</h3>
                {% for chain in structure.facets.chains %}
                {% set thischain = structure.facets.chains[chain] %}
                    <div class="vertical-spacing-bottom-0-25">
                        <div class="chain_block {{thischain.best_match.match}}">
                            <div>
                                <strong>{{chain}}.</strong> {{chain_types[thischain.best_match.match]['ui_text']}}
                            </div>
                            <div>
                                {{thischain.chains}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <h3 class="vertical-spacing-top-0-5 heading-small">Organism</h3>
                <div>{{structure.organism.scientific_name}} ({{structure.organism.common_name}})</div>
                <h3 class="vertical-spacing-top-0-5 heading-small">Locus / Allele group</h3>
                <div class="vertical-spacing-bottom-0-5">
                    {{structure.locus}}
                    {% if structure.allele_group %}
                    / {{structure.allele_group.mhc_alpha}}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="vertical-spacing-top">
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <hr />
                <h2 class="heading-medium vertical-spacing-top-0-5">Publication</h2>    
            </div>
        </div>
        {% set publication = structure.publication %}
        <div class="column-two-thirds">
            <h3 class="heading-small">
                {{publication.citation.title}}
            </h3>
            <div>
                {% for author in publication.citation.authors %}
                    {{author.full_name}}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
            <div>
                <i>{{publication.citation.iso_abbreviation}}</i> ({{publication.citation.year}}), <strong>{{publication.citation.volume}}</strong>, 
                {{publication.citation.pages}} [<a href="{{structure.doi_url}}">{{structure.doi }}</a>] [View on PubMed]  
            </div>
            <br />
            <p>
                {{ publication.abstract }}
            </p>
            <p><small>Data retrieved on [{{structure.last_updated}}] from PDBe REST API</small></p>
        </div>
        <div class="column-one-third">
            <p>Other structures from this publication</p>
            {% for associated_structure in structure.associated_structures %}
            {% if associated_structure != pdb_code %}
            <p>
                <strong><a href="/structures/view/{{associated_structure}}">{{associated_structure | upper}}</a></strong>
            </p>
            {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/3Dmol/1.4.0/3Dmol-min.js"></script>

{% endblock %}