    <style>
        td {
            height: 25px;
            vertical-align: middle;
        }
        .button-input {
            min-height:25px;
        }
        .text-input {
            height:25px;
        }
        .inline-label {
            height:25px;
            margin-top:10px;
            margin-right:5px;
        }

    </style>
    
    <form method="GET" action="/structures/lookup" >
        <table>
            <tr>
                <td>
                    <label for="pdb_code" class="inline-label">PDB code</label>
                </td>
                <td>{% if variables %}
                        <input type="text" class="text-input" name="pdb_code" value="{{variables.pdb_code}}"/>
                    {% else %}
                        <input type="text" class="text-input" name="pdb_code"/>
                    {% endif %}
                </td>
                <td>
                    <input type="submit" class="button-input" value="Look up" />
                </td>
            </tr>
        </table>
    </form>
<br />
<br />