[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
Flask = "*"
boto3 = "*"
python-doi = "*"
biopython = "*"
numpy = "*"
toml = "*"
Flask-Caching = "*"
pyjwt = "*"


[dev-packages]

[requires]
python_version = "3.8"



