{% extends "base.html" %}

{% set nav = 'structures' %}

{% block main %}

<section class="phases">
  <div class="grid-container">
      <div class="column-full-width">
          <div class="inner">
              <h1 class="heading-extra-large vertical-spacing-bottom">{{collection.name}}</h1>
          </div>
      </div>
  </div>

  <div class="grid-container">
      {% for member in collection['hydrated_members'] %}
      {% set item = collection['hydrated_members'][member]%}
      {% include "shared/partials/sets/collection_card.html" %}
      {% endfor %}
  </div>
  <div class="grid-container">
    <div class="column-full-width">
        <div class="inner">
            {% include "fragments/last_updated.html" %}
        </div>
    </div>
</div>

</section>


{% endblock %}