{% extends "base.html" %}

{% block main %}

<section class="">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h1 class="heading-extra-large vertical-spacing-bottom">Welcome to Histo</h1>
        <p>
            <div class="vertical-spacing-bottom-0-25">
                This is a work in progress and will begin to take shape over the next few weeks and months. 
            </div>
            <div class="vertical-spacing-bottom-0-25">
                It will become an three-dimensional atlas of the structure and function of MHC molecules and associated molecules.
            </div>
            <div class="vertical-spacing-bottom-0-25">
                To follow progress, see the <a href="/changelog">changelog</a> or follow on <a href="https://twitter.com/histofyi" target="_new">Twitter</a>.
            </div>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="vertical-spacing-top-0-5">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h2>MHC Class I Structures</h2>
      </div>
    </div>
    {% for collection in collections %}
    {% set collection = collections[collection]%}
    <div class="grid-column proto-pipeline-phase">
        <div class="inner">
            <span class="phase-title is-{{collection_colours[collection.slug]}}"><a href="/structures/collections/{{collection.slug}}">{{collection.name|capitalize}}</a></span>
            <span class="heading-extra-large phase-count">{{collection.members|length}}</span><span class="small">{{collection.description}}</span>
            <p class="small">   
            </p>    
            <br />
        </div>
    </div>
    {% endfor%}
  </div>
</section>

<section class="">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h2>MHC Class II Structures</h2>
        <p>Coming soon</p>
      </div>
    </div>
  </div>
</section>


<section class="vertical-spacing-top-0-5">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h2>Non-classical MHC Class I</h2>
        <p>Coming soon</p>
      </div>
    </div>
  </div>
</section>


{% endblock %}