{% extends "base.html" %}

{% block main %}

<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h1 class="vertical-spacing-bottom">Welcome to Histo</h1>
        <p>
            <div class="vertical-spacing-bottom-0-25">
                This is a work in progress and will begin to take shape over the next few weeks and months. 
            </div>
            <div class="vertical-spacing-bottom-0-25">
                It will become an three-dimensional atlas of the structure and function of MHC molecules and associated molecules.
            </div>
            <div class="vertical-spacing-bottom-0-25">
                To follow progress, see the <a href="/changelog">changelog</a> or follow on <a href="https://twitter.com/histofyi" target="_new">Twitter</a>.
            </div>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h2>MHC Class I Structures</h2>
      </div>
    </div>
    <div class="grid-column proto-pipeline-phase">
        <div class="inner">
            <span class="phase-title is-indy"><a href="/structures/sets/browse/species/">species</a></span>
            <span class="heading-extra-large phase-count">4</span><span class="small">species</span>
            <p class="small">   
            </p>    
            <br />
        </div>
    </div>

    <div class="grid-column proto-pipeline-phase">
      <div class="inner">
          <span class="phase-title is-purple"><a href="/structures/sets/browse/peptide_length/">peptide length</a></span>
          <span class="heading-extra-large phase-count">4</span><span class="small">lengths</span>
          <p class="small">   
          </p>    
          <br />
      </div>
  </div>

  <div class="grid-column proto-pipeline-phase">
    <div class="inner">
        <span class="phase-title is-teal"><a href="/structures/sets/browse/accessory_molecule/">complex type</a></span>
        <span class="heading-extra-large phase-count">4</span><span class="small">different accessory molucules and receptors</span>
        <p class="small">
        </p>    
        <br />
    </div>
</div>

<div class="grid-column proto-pipeline-phase">
  <div class="inner">
      <span class="phase-title is-indigo"><a href="/structures/sets/browse/year/">deposition year</a></span>
      <span class="heading-extra-large phase-count">4</span><span class="small">years</span>
      <p class="small">
      </p>    
      <br />
  </div>
</div>

<div class="grid-column proto-pipeline-phase">
  <div class="inner">
      <span class="phase-title is-fuel"><a href="/structures/sets/browse/peptide_features/">peptide features</a></span>
      <span class="heading-extra-large phase-count">4</span><span class="small">features of MHC bound peptides</span>
      <p class="small">
      </p>    
      <br />
  </div>
</div>


</div>
</section>

<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h2>MHC Class II Structures</h2>
        <p>Coming soon</p>
      </div>
    </div>
  </div>
</section>


<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h2>Non-classical MHC Class I</h2>
        <p>Coming soon</p>
      </div>
    </div>
  </div>
</section>


{% endblock %}