{% extends "base.html" %}

{% block main %}

<section class="">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h1 class="heading-extra-large vertical-spacing-bottom">Welcome to <strong>histo.fyi</strong></h1>
        <p>
            <div class="vertical-spacing-bottom-0-25">
              <strong>histo.fyi</strong> is a database of 3D structures of Major Histocompatibility Complex (<strong>MHC</strong> molecules and their ligands which are available in the Protein Databank. It provides data about these molecules in a standardised interface, using the most up to date nomenclature. 
            </div>
            <div class="vertical-spacing-bottom-0-25">
              The complex of an antigenic peptide and the MHC molecule (<strong>pMHC</strong>) is the ligand recognised by T-cell receptors (<strong>TCR</strong>) as part of the adaptive immune response to pathogens and tumors.
            </div>
            <div class="vertical-spacing-bottom-0-25">
              The initial focus of this database/website is on MHC Class I molecules. Over time it will be extended to cover MHC Class II molecules and their ligands and non-classical MHC molecules and homologues.
          </div>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="vertical-spacing-top-0-5">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h2>MHC Class I Structures</h2>
      </div>
    </div>
    {% for collection in collections %}
    {% set collection = collections[collection]%}
    <div class="grid-column proto-pipeline-phase">
        <div class="inner">
            <span class="phase-title is-{{collection.color_name}}"><a href="/structures/collections/{{collection.slug}}">{{collection.heading|capitalize}}</a></span>
            <span class="heading-extra-large phase-count">{{collection.count}}</span><span class="small">{{collection.text}}</span>
        </div>
    </div>
    {% endfor%}
  </div>
</section>

<section>
  <div class="grid-container">
    <div class="column-full-width">
          <div class="inner">
            <h2 class="vertical-spacing-bottom-0-25">Latest structures</h2>
            <p class="vertical-spacing-bottom">
              The 10 most recently released structures added from the Protein Data Bank.
            </p>
            <style>
              td {
                vertical-align: top;
              }
            
            </style>
            {% set structures = latest.members %}
            {% include "shared/partials/sets/info.html" %}
            <p>
              <a href="/structures/browse/released/2022">More structures released in the PDB this year</a>.
            </p>
          </div>
      </div>
  </div>
</section>




{% endblock %}