{% extends "base.html" %}

{% block main %}

<style>
  td {
    vertical-align: top;
  }

</style>

<section class="">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        {% set obsolete = {'5cnz':'5h5z'}%}

        {% if pdb_code.lower() in ['5cnz'] %}
        <h1 class="vertical-spacing-bottom">You've entered a code for an obsolete structure "{{variables['pdb_code']|upper}}"</h1>
        <p>
            <div class="vertical-spacing-bottom-0-25">
                This structure is now obsolete. Please use '<strong><a href="/structures/view/{{obsolete[variables['pdb_code']]}}">{{obsolete[variables['pdb_code']]}}</a></strong>' in future.
            </div>
        </p>
        {% else %}
        <h1 class="vertical-spacing-bottom">Sorry, we can't find "{{pdb_code|upper}}"</h1>
        <p>
          <h2 class="vertical-spacing-bottom heading-small">Did you mean one of these?</h2>
          
          {% set structures = best_matches %}
          {% include "shared/partials/sets/info.html" %}
        </p>
        <p>
          <h2 class="vertical-spacing-bottom heading-small">Or we have some other suggestions...</h2>
          {% set structures = matches %}
          {% include "shared/partials/sets/info.html" %}
        </p>
        <p>
            <div class="vertical-spacing-bottom-0-25">
                If you think "{{pdb_code|upper}}" is the PDB code for an MHC molecule, please let us know.
            </div>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</section>



{% endblock %}