{% extends "base.html" %}

{% set nav = 'structures' %}

{% block main %}

<section class="phases vertical-spacing-top">
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <h1 class="heading-extra-large vertical-spacing-bottom">Structures</h1>
                <div class="vertical-spacing-bottom">
                    Initially the focus is on MHC Class I molecules. MHC Class II molecules will follow on by the autumn. 
                </div>
                <p>
                    Look up by PDB code
                </p>
                <hr />
                <br />
                <h2>
                    Browse Class I structures by species
                </h2>        
            </div>
        </div>
    </div>

    <div class="grid-container">
        {% for species in species_collection['class_i'] %}
        <div class="grid-column proto-pipeline-phase">
            <div class="inner">
                <span class="phase-title is-indy"><a href="/structures/sets/browse/species/{{species.metadata.slug}}">{{species['metadata']['title'] | mhc_class_stripper | capitalize}}</a></span>
                <span class="heading-extra-large phase-count"><a href="#">{{species.members|count}}</a></span>
                <p class="small">
                    Last updated:<br />
                    {{species.last_updated | timesince}}
                </p>    
                <br />
            </div>
        </div>

        {% endfor %}
    </div>

    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <hr />
                <br />
                <h2>
                    Browse Class I structures by peptide length
                </h2>        
            </div>
        </div>
    </div>

    <div class="grid-container">
        {% for peptide in peptides_collection['class_i'] %}
        <div class="grid-column proto-pipeline-phase">
            <div class="inner">
                <span class="phase-title is-purple"><a href="/structures/sets/browse/peptide_length/{{peptide.metadata.slug}}">{{peptide['metadata']['title'] | capitalize}}</a></span>
                <span class="heading-extra-large phase-count"><a href="#">{{peptide.members|count}}</a></span>
                <p class="small">
                    Last updated:<br />
                    {{peptide.last_updated | timesince}}
                </p>    
                <br />
            </div>
        </div>

        {% endfor %}
    </div>


    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">

        <p>
            By structure type
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}