{% extends "base.html" %}

{% set nav = 'structures' %}

{% block main %}

<section class="phases">
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <h1 class="heading-extra-large vertical-spacing-bottom">Structures</h1>
                <div class="vertical-spacing-bottom">
                    Initially the focus is on MHC Class I molecules. MHC Class II molecules will follow on in spring 2023. 
                </div>
            </div>
        </div>
    </div>

    <div class="grid-container">
    </div>

    <div class="grid-container">
        <div class="column-two-thirds">
            <div class="inner">
                {% include "fragments/releases.svg" %}
            </div>
        </div>
        <div class="column-one-third">
            <div class="grid-container">
                <div class="grid-column">
                    <div class="inner">
                        <span class="phase-title is-indigo">All Class I structures</span>
                        <span class="heading-extra-large phase-count">{{total_structures}}</span><span class="small">structures</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <h2 class="vertical-spacing-bottom-0-25 vertical-spacing-top">Latest structures</h2>
                <p class="vertical-spacing-bottom">
                  The 10 most recently released structures added from the Protein Data Bank.
                </p>
                <style>
                  td {
                    vertical-align: top;
                  }
                
                </style>
                {% set structures = latest.members %}
                {% include "shared/partials/sets/info.html" %}
                <p>
                  <a href="/structures/browse/released/2022">More structures released in the PDB this year</a>.
                </p>
              </div>
        </div>
    </div>
</section>

{% endblock %}