{% extends "base.html" %}

{% set nav = 'structures' %}

{% block main %}

<section class="phases">
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <h1 class="heading-extra-large vertical-spacing-bottom">Structures</h1>
                <div class="vertical-spacing-bottom">
                    Initially the focus is on MHC Class I molecules. MHC Class II molecules will follow on by the autumn. 
                </div>
                <h2>
                    Browse Class I structures by species
                </h2>        
            </div>
        </div>
    </div>

    <div class="grid-container">
        {% for species in species_collection['hydrated_members'] %}
        {% set item = species_collection['hydrated_members'][species]%}
        {% include "shared/partials/sets/collection_card.html" %}
        {% endfor %}
    </div>

    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <hr />
                <br />
                <h2>
                    Browse Class I structures by peptide length
                </h2>        
            </div>
        </div>
    </div>

    <div class="grid-container">
        {% for peptide in peptides_collection['hydrated_members'] %}
        {% set item = peptides_collection['hydrated_members'][peptide]%}
        {% include "shared/partials/sets/collection_card.html" %}
        {% endfor %}
    </div>

    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                {% include "fragments/last_updated.html" %}
            </div>
        </div>
    </div>
</section>

{% endblock %}